[tool.poetry]
name = "pygam"
version = "0.0.0" # placeholder for dynamic versioning
description = ""
authors = ["Daniel Servén Marín", "Charlie Brummitt"]
license = "Apache-2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9, <=3.13"
numpy = [
  { version = ">=1.24.2,<1.25", python = "<3.9,>=3.8" },
  { version = ">=1.25", python = "<3.13,>=3.9" },
]
progressbar2 = "^4.2.0"
scipy = ">=1.11.4"
scikit-learn = "^1.5.2"
pandas = "^1.3.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.2"
flake8 = "^6.0.0"
codecov = "^2.1.12"
pytest-cov = "^4.0.0"
mock = "^5.0.1"
nbsphinx = "^0.9.0"
sphinx-rtd-theme = "^1.2.0"
sphinxcontrib-napoleon = "^0.7"
ipython = "^8.11.0"
black = "^23.1.0"

[tool.black]
line-length = 88
skip-string-normalization = true
target-version = ['py39']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"