codecov
mock
future
numpy
progressbar2
pylint
pytest
pytest-cov
pytest-pylint
setuptools
scipy>=0.17

# Documentation Requirements
sphinxcontrib-napoleon      # Parses numpy-style docstrings
nbsphinx                    # Converts notebooks to reStructuredText
ipython                     # For syntax highlighting notebooks
sphinx_rtd_theme            # The Read The Docs theme
