codecov
pylint
pandas
pytest
pytest-cov
pytest-pylint

# Documentation Requirements
sphinxcontrib-napoleon      # Parses numpy-style docstrings
nbsphinx                    # Converts notebooks to reStructuredText
ipython                     # For syntax highlighting notebooks
sphinx_rtd_theme            # The Read The Docs theme
